<%- include('partials/header') %>

<div class="content-wrapper">
  <div class="container">
    <div class="info-box">
      <h1>Overzicht van Uitgaven</h1>
      <div class="expenses-cards">
        <% expenses.forEach(expense => { %>
          <div class="expense-card">
            <h2><%= expense.description %></h2>
            <p>Bedrag: €<%= expense.amount %></p>
            <p>Valuta: <%= expense.currency %></p>
            <p>Datum: <%= new Date(expense.date).toLocaleDateString() %></p>
            <p>Categorie: <%= expense.category %></p>
            <p>Betaald: <%= expense.isPaid ? "Ja" : "Nee" %></p>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
